<!DOCTYPE html>
<html>
<head>
<title>Проверка</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
<div class="container">
<h3>Успешно загружено!</h3>

<p>

<a href="{{ url_for('index') }}" class="btn btn-sm btn-default">Назад</a><p>
  <div class="row alert alert-info" >
              <div class="col-xs-12 col-sm-4"><p>Длина проверяемого текста: {{ files.pl }}</p></div>
              <div class="col-xs-12 col-sm-4"><p>Длина источника: {{ files.sl }} </p></div>
              <div class="col-xs-12 col-sm-4"><p>Длина плагиата: {{ files.sumC }}</p></div>
  </div>
              <br>
              <hr>
              {% for d in files.data %}
                <p>{{ d.decode("UTF-8") }}</p>
              {% endfor %}
</div>
</body>
</html>
